@import '../../styles/settings.scss';

nav {
  background-color: darken($color-dark, 3%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  padding: 0 $base-size * 2;
  align-items: center;
}

.navlist {
  list-style: none;
  display: inline-flex;
  a {
    color: white;
    text-decoration: none;
  }
  li {
    margin-right: 15px;
  }
}
